*.bgn
*.bit
*_bitgen.xwbt
*.bld
*.drc
*.log
*.lso
*_map.map
*_map.mrp
*_map.ncd
*_map.ngm
*_map.xrpt
*.ncd
*.ngc
*.ngd
*_ngdbuild.xrpt
*.ngr
*.pad
*_pad.csv
*_pad.txt
*.par
*_par.xrpt
*.pcf
*.ptwx
*_summary.xml
*.syr
*.twr
*.twx
*.unroutes
*_usage.xml
usage_statistics_webtalk.html
*.xpi
*_xst.xrpt
_ngo/
xlnx_auto_0_xdb/
_xmsgs/
xst/
