#
# UCF file for the Papilio One board
#
#
# Main board wing pin [] to FPGA pin Pxx map
#
# -------C-------    -------B-------    -------A-------
# [GND] [C00] P91    [GND] [B00] P85    P86 [A15]
# [2V5] [C01] P92    [2V5] [B01] P83    P84 [A14]
# [3V3] [C02] P94    [3V3] [B02] P78    P79 [A13]
# [5V0] [C03] P95    [5V0] [B03] P71    P70 [A12]
#       [C04] P98          [B04] P68    P67 [A11] [5V0]
#       [C05] P2           [B05] P66    P65 [A10] [3V3]
#       [C06] P3           [B06] P63    P62 [A09] [2V5]
#       [C07] P4           [B07] P61    P60 [A08] [GND]
# [GND] [C08] P5     [GND] [B08] P58    P57 [A07]
# [2V5] [C09] P9     [2V5] [B09] P54    P53 [A06]
# [3V3] [C10] P10    [3V3] [B10] P41    P40 [A05]
# [5V0] [C11] P11    [5V0] [B11] P36    P35 [A04]
#       [C12] P12          [B12] P34    P33 [A03] [5V0]
#       [C13] P15          [B13] P32    P26 [A02] [3V3]
#       [C14] P16          [B14] P25    P23 [A01] [2V5]
#       [C15] P17          [B15] P22    P18 [A00] [GND]
#


#
# Prohibit the automatic placement of pins that are
# connected to VCC or GND for configuration.
#
CONFIG PROHIBIT = P99;
CONFIG PROHIBIT = P43;
CONFIG PROHIBIT = P42;
CONFIG PROHIBIT = P39;
CONFIG PROHIBIT = P49;
CONFIG PROHIBIT = P48;
CONFIG PROHIBIT = P47;

#
# CLK
#
NET "CLK" LOC="P89" | IOSTANDARD=LVCMOS25 | PERIOD=31.25 ns;

#
# Port A
#
#NET "A0"  LOC="P18" | IOSTANDARD=LVCMOS33;
#NET "A1"  LOC="P23" | IOSTANDARD=LVCMOS33;
#NET "A2"  LOC="P26" | IOSTANDARD=LVCMOS33;
#NET "A3"  LOC="P33" | IOSTANDARD=LVCMOS33;
#NET "A4"  LOC="P35" | IOSTANDARD=LVCMOS33;
#NET "A5"  LOC="P40" | IOSTANDARD=LVCMOS33;
#NET "A6"  LOC="P53" | IOSTANDARD=LVCMOS33;
#NET "A7"  LOC="P57" | IOSTANDARD=LVCMOS33;
#NET "A8"  LOC="P60" | IOSTANDARD=LVCMOS33;
#NET "A9"  LOC="P62" | IOSTANDARD=LVCMOS33;
#NET "A10" LOC="P65" | IOSTANDARD=LVCMOS33;
#NET "A11" LOC="P67" | IOSTANDARD=LVCMOS33;
#NET "A12" LOC="P70" | IOSTANDARD=LVCMOS33;
#NET "A13" LOC="P79" | IOSTANDARD=LVCMOS33;
#NET "A14" LOC="P84" | IOSTANDARD=LVCMOS33;
NET "A15" LOC="P86" | IOSTANDARD=LVCMOS33;

#
# Port B
#
#NET "B0"  LOC="P85" | IOSTANDARD=LVCMOS33;
#NET "B1"  LOC="P83" | IOSTANDARD=LVCMOS33;
#NET "B2"  LOC="P78" | IOSTANDARD=LVCMOS33;
#NET "B3"  LOC="P71" | IOSTANDARD=LVCMOS33;
#NET "B4"  LOC="P68" | IOSTANDARD=LVCMOS33;
#NET "B5"  LOC="P66" | IOSTANDARD=LVCMOS33;
#NET "B6"  LOC="P63" | IOSTANDARD=LVCMOS33;
#NET "B7"  LOC="P61" | IOSTANDARD=LVCMOS33;
#NET "B8"  LOC="P58" | IOSTANDARD=LVCMOS33;
#NET "B9"  LOC="P54" | IOSTANDARD=LVCMOS33;
#NET "B10" LOC="P41" | IOSTANDARD=LVCMOS33;
#NET "B11" LOC="P36" | IOSTANDARD=LVCMOS33;
#NET "B12" LOC="P34" | IOSTANDARD=LVCMOS33;
#NET "B13" LOC="P32" | IOSTANDARD=LVCMOS33;
#NET "B14" LOC="P25" | IOSTANDARD=LVCMOS33;
NET "B15" LOC="P22" | IOSTANDARD=LVCMOS33;

#
# Port C
#
#NET "C0"  LOC="P17" | IOSTANDARD=LVCMOS33;
#NET "C1"  LOC="P16" | IOSTANDARD=LVCMOS33;
#NET "C2"  LOC="P15" | IOSTANDARD=LVCMOS33;
#NET "C3"  LOC="P12" | IOSTANDARD=LVCMOS33;
#NET "C4"  LOC="P11" | IOSTANDARD=LVCMOS33;
#NET "C5"  LOC="P10" | IOSTANDARD=LVCMOS33;
#NET "C6"  LOC="P9"  | IOSTANDARD=LVCMOS33;
#NET "C7"  LOC="P5"  | IOSTANDARD=LVCMOS33;
#NET "C8"  LOC="P4"  | IOSTANDARD=LVCMOS33;
#NET "C9"  LOC="P3"  | IOSTANDARD=LVCMOS33;
#NET "C10" LOC="P2"  | IOSTANDARD=LVCMOS33;
#NET "C11" LOC="P98" | IOSTANDARD=LVCMOS33;
#NET "C12" LOC="P95" | IOSTANDARD=LVCMOS33;
#NET "C13" LOC="P94" | IOSTANDARD=LVCMOS33;
#NET "C14" LOC="P92" | IOSTANDARD=LVCMOS33;
#NET "C15" LOC="P91" | IOSTANDARD=LVCMOS33;

#
# USB UART
#
NET "UART_RX" LOC="P88" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET "UART_TX" LOC="P90" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;

#
# JTAG
#
#NET "JTAG_TMS" LOC="P75"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
#NET "JTAG_TCK" LOC="P77"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
#NET "JTAG_TDI" LOC="P100" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
#NET "JTAG_TDO" LOC="P76"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;

#
# Flash SPI
#
#NET "FLASH_CS"   LOC="P24" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
#NET "FLASH_CLK"  LOC="P50" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
#NET "FLASH_MOSI" LOC="P27" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
#NET "FLASH_MISO" LOC="P44" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP;
